<%- include("parcials/header") -%>


<div class="container mt-5 text-center">
    <h3 style="margin-top: 150px; letter-spacing: 2px;">ACTIVITIES</h3>
    <p class="mt-5" style="letter-spacing: 2px;">BOOK THROUGH CREW ADVENTURES AND RECEIVE 10-50% DISCOUNT!  </p>
    <small>Crew ID maybe requested upon arrival, failure to present ID may result an activity being charged at full price</small>


    <div class="row mt-5">
        <div class="card-deck">
            <div class="card">
                <img src="/photos/activities.jpg" class="card-img-top home__img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum is placeholder text commonly used in the graphic </p>
                    <button class="btn btn-light">Read More</button>
                </div>
            </div>
            <div class="card">
                <img src="/photos/activities1.jpg" class="card-img-top home__img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum is placeholder text commonly used in the graphic </p>
                    <button class="btn btn-light">Read More</button>
                </div>
            </div>
            <div class="card">
                <img src="/photos/activities.jpg" class="card-img-top home__img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum is placeholder text commonly used in the graphic</p>
                    <button class="btn btn-light">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("parcials/footer")-%>