<%- include("parcials/header") -%>

<div id="home-page" class="container">
    <div class="text-center" style="margin-top: 250px;">
        <h1>Trolley Dolly</h1>
        <button class="btn btn-light mt-3">Contact Us</button>
    </div>


    <div class="text-center" style="margin-top: 300px;">
        <h3 class="mt-3 mb-5">The best benefits for crew & airline staff</h3>
        <div class="row">
            <div class="card-deck">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Tours</h5>
                    <p class="card-text">Tours and Adventures to make the most of your stopover or holiday.  </p>
                    <button class="btn btn-light">Learn More</button>
                  </div>
                </div>
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Activities</h5>
                    <p class="card-text">Great local activities and fun adventures at special crew prices.  </p>
                    <button class="btn btn-light">Learn More</button>
                  </div>
                </div>
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NightOut</h5>
                    <p class="card-text">Discounts on great food and drinks at the best spots in town.</p>
                    <button class="btn btn-light">Learn More</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
   

<%- include("parcials/footer") -%>